doctype
html
    head
        link(href="/box_out.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", src="/css/bootstrap.css")
        link(rel="stylesheet", src="/vendor/toastr/toastr.css")
        link(rel="stylesheet", src="/css/site.css")
    body
        block main-content
        include scripts